
:root{
    --red-clr:#f13005;
    --green-clr:#1abc7b;
    --light-yellow-clr:#e0f64b;
    --dark-clr:#121212;
    --info-clr:#3498db;
    --success-clr:#07bc0c;
    --error-clr:#e74c3c;
    --card-background-clr:#616161;
    --text-clr:#ffffff;
    --body-background-clr:#171717;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: Manrope,sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    background-color: var(--body-background-clr);
    color: #ffffff;
    min-height: 100vh;
}

/* DEFAULT STYLING */
h1{
        font-size: 1.3rem;
        font-weight: 800;
        line-height: 1.4;

}
h1.board{
    font-size: 1.6875rem;
    font-weight: 700;
    line-height: 1.6;
}
h2 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
}

/* working with the header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    flex-wrap: wrap;
}
.nav-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-one{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #B8B8B8;
 
}

/* styling the range input */
.slider{
 -webkit-appearance: none;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--light-yellow-clr);
    cursor: pointer;
  }

  /* styling the search input */

  .nav-two{
    position: relative;
  }

 input[type="search"]{
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #202020;  
   
}
input[type="search"]:focus{
    outline: none;
    text-align: center;
}
::placeholder{
    padding-left: 20px;
}

.nav-two #search{
    position: absolute;
    top: 10px;
    left: 10px;
}

/* styling the hamburger */
.nav-three{
    color: #e0f64b;
    font-size: 1.6rem;
    font-weight: bolder;
}


/* styling main section */
.main{
    padding: 50px 50px 0 50px;
   
   
}

/* grid container */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 20px;
    line-height: 1.6;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    /* height: calc(100vh - 10px); */
    
}

/* column one */
.content-column-one{
    height: 100%;
     
}
/* wallet */
.wallet{
    padding: 10px;
    padding-bottom: 20px;
}
.wallet span{
    padding-right: 10px;
    color: #e0f64b;
}

/* total assets */
.total-assets{
    border-radius: 20px;
    background-color: #202020;
    padding: 0 22px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.assets-container>p{
    color: #B8B8B8;
}
.assets select{
    border: none;
    background-color: #202020;
    color: #B8B8B8;
    cursor: pointer;
}
.assets select:focus{
    outline: none;
}
.assets select:hover{
    background-color: none;
    cursor: pointer;
}

label.money-value{
    font-size: 1.7rem;
    font-weight: bold;
}
h4>small{
    color: #B8B8B8;
}

.image-container{
    /* color:rgba(23, 23, 23, 0) ; */
}
.asset-image{
    opacity: 1;
    /* position: relative;
    z-index: 2; */
    margin-top: -10px;
    height: 140px;
   
}


/* currencies */
.currencies{
    margin-top: 20px;
    background-color: #202020;
    padding: 16px;
    border-radius: 20px;
    /* allowing scrollable feature */
    height: 940px;
    overflow-y: scroll;
}

/* hiding the scrollbar */
.currencies::-webkit-scrollbar{
    width: 0 !important;
}


.currency-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #333;
}
.currency-one{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;    
    gap: 10px;
}
.currency-symbol>h4{
    color: #B8B8B8;
}
.currency-amount>h4{
    color: #B8B8B8;
}
.currency-amount>h3{
    float: right;
   
}

.currency-icons{
    /* padding:25px; */
    font-weight: bold;
    font-size: 2.0rem;
    border: 1px solid #333;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: orange;
    margin-bottom: 10px;
    margin-top: 10px;
   
}
#myIcons{
    height: 30px;
    width: 30px;
}
.fa-ethereum{
    color: grey;
}


/* styling graph */
.graph{
    background-color: #202020;
    display: flex;
    gap: 20px;
}


/* column two */

.content-column-two{
    height: 100%;
    
    
}
.action-container{
    background-color: #202020;
    border-radius: 20px;
    padding: 10px;
}

.action-container>h2{
    padding-bottom: 20px;
}
.rewards{
    display: flex;
    align-items: center;
    background-color: var(--body-background-clr);
    margin: 16px 0 24px;
    border-radius: 10px;
}
.reward-one{
    margin-left: 16px;
    font-size: 1.1rem;
}
.reward-icon{
    height: 140px;
    margin-bottom: -12px;
}

/* grid container */
.tools{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* background-color: red; */
    
}
.tool-flex{
    display: flex;
    border: 1px solid #333;
    padding: 16px;
    align-items: center;
   font-weight: bold;
   border-radius: 10px;
  
}
.tool-flex:hover{
    outline: 1px solid #e0f64b;
    cursor: pointer;
}
.tools-two{
    padding-left: 10px;
}
.tools-one{
    padding-right: 30px;
}
.tools-one>i{
   color: #e0f64b;
   font-size: 1.2rem;
}


/* row two */
.transaction-container-flex{
    display: flex;
    gap: 20px;
    margin: 20px;
    

   
}
.transaction{
    border: 1px solid #333;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    height: 80px;
    width: 80px;
}
.transaction:hover{
    outline: 1px solid #e0f64b;
    cursor: pointer;
}
.transaction>div>i{
    color: #e0f64b;
    font-size: 1.2rem;
}


/* row three */
.notifications{
    margin-top: 25px;
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    /* scrollable container */
    height: 610px;
    overflow-y: scroll;

}
/* hiding the scrollbar */
.notifications::-webkit-scrollbar{
    width: 0 !important;
}


.notifications>p{
    color: #B8B8B8;
    /* padding: 20px; */
}
.para-one{
    color: #848484;
}
.withdraw-success{
    border: 1px solid #333;
    padding: 16px;
    margin-top: 10px;
    border-radius: 10px;
}
.withdraw-success>h4>span{
    padding-right: 10px;
 
}
.withdraw-success>h4>span>i{
    color: red;
}
.withdraw-success>h4{
    padding-bottom: 10px;
}

/* date */
.date>p{
    padding-top: 10px;
}

/* styling the third column */
.content-column-three{
    /* background-color: blue; */
    /* height: 100% */
   


}
.trophey{
    padding: 10px;
    padding-bottom: 20px;

}
.trophey span{
    padding-right: 10px;
    color: #e0f64b;
}
.leaders-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: var(--light-yellow-clr);
    color: #171717;
    border-radius: 10px;
}

.btn-circle{
    background-color: #171717;
    color: #FAFAFA;
     font-size: 0.9rem;
     padding: 5px 8px 5px 8px;
     border: none;
     border-radius: 15px;
     margin: 8px;
}
.leaders-name{
    font-weight: bold;
}
.btn-percentage{
    background-color: #1abc7b;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: 800;
}
.leaders-row-dark{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: #202020;
    color: #171717;
    border-radius: 10px;
}

.btn-circle-dark{
    background-color:#e0f64b;
    color: #171717;
     font-size: 0.9rem;
     padding: 5px 8px 5px 8px;
     border: none;
     border-radius: 15px;
     margin: 8px;  
}
.leaders-name-dark{
    font-weight: bold;
    color: white;

}
.leaders-wallet-dark{
    color: #848484;
}

.content-row-one{
    grid-column: span 2;
    display: grid;
    background-color: #202020;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    margin-bottom: 30px;
 
}
/* first column */
.graph-bar{
    border-right: 1px solid #333;
   /* padding: 15px; */
   margin: 15px;
   padding: 5px;
}
.digits-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-right: 10px; */
}
.details{
    display: flex;
    align-items: center;
    gap: 20px;
 
  
}
.details-one h3{
    font-size: 1.3rem;
}
.details-two h4{
    color: #848484;
}
.time-analysis-container{
    display: flex;
    justify-content: space-between;
}

.chart>i{
    padding: 8px;
    font-size: 1.6rem;
    color: #B8B8B8;
    font-weight: 600;
    cursor: pointer;

}
#btn-one{
  background-color: #e0f64b;
  padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.myButtons{
    padding: 10px;
    background-color: #171717;
    color: #848484;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s;
  
}
.myButtons:hover{
    background-color: #e0f64b;
}
.line{
    border-bottom: 1px solid #333;
    height:10px;  
    /* overflow: visible;       */
    margin: 20px 0 15px 0;
    padding: 10px;
 
    
}


.value-analysis-container{
    text-align: right;
}
.value-analysis-container:last-child{
    padding-bottom: 20px;
}
.btn-graph{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #1abc7b;
    border: none;
    border-radius: 10px;
}



.button-containers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 20px; */
   
}
#btn-buy,
#btn-sell{
    font-size: 1.4rem;
    font-weight: 700;
    padding:10px 40px 10px 40px;
    border: none;
    border-radius: 10px;
}

#btn-buy{
    background-color: #e0f64b;
}
#btn-sell{
    background-color: #171717;
    color: #ffffff;
}


/* second column */
.graph-percentage{
    /* border-left: 1px solid red; */
    padding: 5px;
}
.percentage-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    color: #848484;
}
.price-container{
    display: flex;
     gap: 30px;
     align-items: center;
}
.cards-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 10px;
}
.cards-items{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cards-items-two{
    display: flex;
    align-items: center;
    gap: 20px;

}


.cards-container button{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
}
.bg-green button{
    background-color: #1abc7b;
}
.bg-red button{
    background-color: var(--red-clr);
}

.yellow-star i{
    color: #e0f64b;
    font-size: 16px;
}
.dark-star{
    color: #B8B8B8;
    font-size: 16px;
}

.coins-container{
    color: #848484;
    
}